<h2>Delete Equipment</h2>
<form method="POST" action="/equipment">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="model">Model:</label>
      <input type="text" name="model" id="model"/>
      <label for="category">Category:</label>
      <input type="text" name="category" id="category"/>
      <label for="quantity">Quantity:</label>
      <input type="text" name="quantity" id="quantity"/>


    </div>

  </div>
</form>

<form action="/equipment/<%= equipment.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
