<h1>Update Stock</h1>
<form method="POST" action="/equipment">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="model">Model:</label>
      <input type="text" name="model" id="model"/>
    </div>

    <div class="form-el">
      <label for="category">category:</label>
      <input type="text" name="category" id="category"/>
    </div>

    <div class="form-el">
      <label for="day_rate">Day rate:</label>
      <input type="day_rate" name="day_rate" id="date_rate"/>
    </div>

    <div class="form-el">
      <label for="quantity">Quantity:</label>
      <input type="quantity" name="quantity" id="quantity"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Update Stock"/>
    </div>

  </div>
</form>
