<!DOCTYPE html>
<html>
<head>
  <br>
  <br>
  <br>
  <br>
  <title>Nudge Exchange</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

  <link rel="icon" href="/images/logo03.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
<img src="/images/logo03.png" alt="nudge logo" style="float:right; width:104px; height:142px">

<main class="flex--row">
  <nav>
    <ul>
      <li>
        <a href="/">Home Page</a>
      </li>
      <li>
        <a href="/equipment">Equipment</a>
      </li>
      <li>
        <a href="/customers">Customers</a>
      </li>
      <li>
        <a href="/rentals">Rentals</a>
      </li>
    </ul>
  </nav>

  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
