body {
  background-color: #0678bc;
  /* background-image: url('/images/surf.gif'); */
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', cursive;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: white;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: #FF4E00;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #FF4E00;
}

nav {
  padding: 10px;
  margin: 10px;
  padding-centre: 25px;
}

nav ul li {
  display: inline-block;
  margin-left: 150px;
  padding-top: 0px;
}


ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 10px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}


#content {
  border-left: 10px solid #FF4E00;
  padding-left: 25px;
}
