<h1>Surf Rental Confirmed!</h1>
<p>STOKED!!!</p>
<img src="/images/stoked.gif" alt="surf image" style="float:center; width:600px; height:300px">
<br>
<br>
<form action="/">
<input class="btn btn--action" type='submit' value="Return to Home">
</form>
<br>
<br>
<form action="/rentals">
<input class="btn btn--action" type='submit' value="Return to Rentals">
</form>
