<h2>Delete Customer</h2>
<form method="POST" action="/customers">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

  </div>
</form>
