<form method="post" action="/customers/<%= @customer.id %>">
  <label for="name">Name:</label>
  <input
  type="text"
  name="name"
  id="name"
  value="<%= @customer.name %>"
  />

  <label for="account_number">Account Number:</label>
  <input
  type="text"
  name="account_number"
  id="account_number"
  value="<%= @customer.account_number %>"
  />

  <label for="shipping_info">Shipping_info:</label>
  <input
  type="text"
  name="shipping_info"
  id="shipping_info"
  value="<%= @customer.shipping_info %>"
  />

  <input type='submit' value="Edit Customer Details">
</form>
