<h2>New Customer</h2>
<form method="POST" action="/customers">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="account_number">Account_number:</label>
      <input type="text" name="account_number" id="account_number"/>
    </div>

    <div class="form-el">
      <label for="shipping_info">Shipping_info:</label>
      <input type="text" name="shipping_info" id="shipping_info"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Create Customer"/>
    </div>

  </div>
</form>
