<h1>Customer <%= @customer.name %></h1>

<p>Account Number: <%= @customer.account_number %></p>

<p>Shipping Info: <%= @customer.shipping_info %></p>


<ul>
  <p> Current Account Hires:</p>
  <% @customer.equipment.each do |equipment| %>
  <li><%= equipment.model %></li>
  <% end %>
</ul>


<ul class="flex-container">
  <li class="flex-item">1</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
  <li class="flex-item">6</li>
</ul>
