<h1>Customer <%= @customer.name %></h1>

<p>Account Number: <%= @customer.account_number %></p>

<p>Shipping Info: <%= @customer.shipping_info %></p>


<ul>
  <p> Current Account Hires:</p>
  <% @customer.equipment.each do |equipment| %>
  <li><%= equipment.model %></li>
  <% end %>
</ul>
